@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    background-color: #0B1D26;
}

/*

#banner {
    position: relative;
    width: 100%;
}
#img-clouds {
    position: absolute;
    z-index: -4;
    width: 100%;
}
#gradient-1 {
    position: absolute;
    z-index: -3;
    width: 100%;
}
#img-mountains {
    position: absolute;
    top: 21.92vw;
    z-index: -2;
    width: 100%;
}
#img-hill {
    position: absolute;
    top: 39.17vw;
    z-index: -1;
    width: 100%;
}
#gradient-2 {
    position: absolute;
    top: 61.927vw;
    z-index: 0;
    width: 100%;
}

#navbar {
    position: absolute;
    top: 64px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 160px);
    margin: 0 80px;
}
#logo {
    font-family: 'Bentham', serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
#menu ul {
    list-style: none;
}
#menu li {
    display: inline;
    font-size: 18px;
    margin: 0 20px;
}
#profile {
    display: flex;
    align-items: center;
}
#profile-img {
    margin-right: 8px;
}
#profile-text {
    font-size: 17px;
    margin: 4px 0 0;
}
#menu li, #profile {
    font-family: 'Khula', sans-serif;
}

#title-container {
    position: absolute;
    top: 14.53%;
    left: 50%;
    margin-left: -475px;
    z-index: 1;
    width: 950px;
}

.title {
    font-family: 'Bentham', serif;
    font-size: 88px;
    margin: 32px 0;
}
.subtitle-container {
    display: flex;
    align-items: center;
}
.subtitle {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 800;
    color: #FBD784;
    margin: 4px 0 0;
}
.dash {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    margin-right: 32px;
}*/



/*.grid-1 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 130px 0;
}
.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 130px 0;
}
.num {
    width: 276px;
    height: 240px;
    position: absolute;
    top: -70px;
    left: -100px;
}
.item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content {
    max-width: 700px;
}
.title {
    font-family: 'Bentham', serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
}
p {
    font-family: 'Khula', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}
.item-2 {
    display: flex;
    align-items: center;
}
.item-2 img {
    height: 720px;
}
.grid-1 .item-1 {
    margin: 100px 80px 100px 107px;
}
.grid-2 .item-1 {
    margin: 100px 0 100px 107px;
}
#footer {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    padding: 0;
}
#footer ul {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    line-height: 32px;
}
#footer li {
    margin: 16px 0;
}
h4 {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    margin: 0;
}
.cr {
    font-family: 'Khula', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
}
#footer-2 {
    display: flex;
    justify-content: space-between;
    width: 566px;
}*/

@media only screen and (max-width: 768px) {

    .header {
        margin-bottom: 300px;
    }
    .navbar {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .logo-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .menu {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0 20px;
        padding: 0;
    }
    .menu li {
        display: inline;
        font-family: 'Khula', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        margin: 0 10px;
    }
    .profile {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 20px;
    }
    .profile-img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    .profile-text {
        font-family: 'Khula', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 3px;
    }
    h1 /* Main Title */ {
        font-family: 'Bentham', serif;
        font-size: 88px;
        font-style: normal;
        font-weight: 600;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: left;
    }

    .grid-item-1 {
        margin: 20px;
    }
    .num {
        display: none;
    }
    .subtitle {
        height: 22px;
        max-width: 100%;
    }
    h2 /* Grid Item Title */ {
        font-family: 'Bentham', serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 77px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
    }
    .text {
        font-family: 'Khula', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    .grid-item-2 {
        margin: 40px 0 100px;
    }
    .img {
        width: 100%;
    }
}
@media only screen and (min-width: 1348px) {
    #main {
        margin: 100px 100px;
    }
    .num {
        position: absolute;
        top: 0;
        left: 0;
    }
    .content {
        position: relative;
        top: 103px;
        left: 150px;
    }
}
@media only screen and (min-width: 1531px) { 
    .grid-1 {
        margin: 130px 0;
    }
    .grid-2 {
        margin: 130px 0;
    }
    .num {
        top: -103px;
        left: -150px;
    }
    .grid-1 .item-1 {
        margin: 100px 80px 100px 107px;
    }
    .grid-2 .item-1 {
        margin: 100px 0 100px 107px;
    }
    #footer-1 {

    }
}

@media only screen and (min-width: 1871px) { 
    .grid-1 {
        margin: 150px 0;
    }
    .grid-2 {
        margin: 150px 0;
    }
    .num {
        top: -70px;
        left: -100px;
    }
    .grid-1 .item-1 {
        margin: 130px 106px 130px 138px;
    }
    .grid-2 .item-1 {
        margin: 130px 0 130px 138px;
    }
}


@media only screen and (min-width: 1920px) {
    .grid-1 {
        margin: 200px 0;
    }
    .grid-2 {
        margin: 200px 0;
    }
    .num {
        top: -103px;
        left: -150px;
    }
    .grid-1 .item-1 {
        margin: 140px 114px 140px 150px;
    }
    .grid-2 .item-1 {
        margin: 140px 0 140px 150px;
    }
}
