@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700&display=swap');o

* {
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
    font-weight: 700;
}
body {
    color: white;
    background-color: #0B1D26;
    position: relative;
    margin: 0;
}

.header {
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: -10vw;
}
.header-content {
    width: calc(100% - 40px);
    position: absolute;
    z-index: 2;
    padding-top: 20px;
    margin: 0 20px;
}
.paralax {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.paralax img {
    width: calc(1.12 * 500px);
    position: absolute;
    left: 50%;
    margin-left: calc(-0.56 * 500px);
}
.MG {
    top: calc(0.2416 * 1.12 * 500px);
}
.VG {
    z-index: 3;
    top: calc(0.4125 * 1.12 * 500px);
}
.VG-grad {
    z-index: 3;
    top: calc(0.6234 * 1.12 * 500px);
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    font-family: 'Bentham', serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    font-weight: 500;
}
.menu {
    display: none;
}
.account-container {
    display: flex;
    align-items: center;
    justify-content: end;
}
.account {
    font-size: 17px;
    line-height: 21px;
    margin: 0 0 -4px 8px;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.heading-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: start;
}
.heading-dash {
    width: 32px;
    height: 2px;
    background-color: #FBD784;
    margin-right: 24px;
}
.heading-subtitle {
    font-size: 14px; /* 18*/
    line-height: 22px;
    letter-spacing: 6px;
    color: #FBD784;
    margin-bottom: -4px;
}
.title-container {
    max-width: calc(100% - 40px);
    position: fixed;
    z-index: 2;
    margin: 0 auto;
}
h1 /* Main Title */ {
    font-family: 'Bentham', serif;
    font-size: 28px;
    line-height: 28px;
    margin: 16px 0;
}
.scroll-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}
.scroll {
    font-size: 16px;
    line-height: 18px;
    margin: 0 16px -2px 0;
}
.arrow-down {
    height: 18px;
}
.social-container {
    display: none;
}
.slider {
    display: none;
}
.grid {
    position: relative;
    z-index: 3;
    margin: 0 20px 80px;
}
.grid-row {
    display: grid;
    margin-bottom: 70px;
}
.grid-item-1 {
    grid-row: 2 / 3;
    position: relative;
    z-index: 2;
}
.num {
    font-size: 80px;
    opacity: 0.1;
    position: absolute;
    top: -70px;
    right: 0;
    margin: -15px 0;
}
.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: start;
}
.dash {
    width: 32px;
    height: 2px;
    display: none;
    background-color: #FBD784;
    margin-right: 24px;
}
.subtitle {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 6px;
    color: #FBD784;
    margin-bottom: -4px;
}
h2 {
    font-family: 'Bentham', serif;
    font-size: 28px;
    line-height: 28px;
    margin: 10px 0 16px;
}
.text, .moto {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}
.more-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 16px;
}
.more {
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
    margin: 0 16px -4px 0;
}
.grid-item-2 {
    grid-row: 1 / 2;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: -30px;
}
.img {
    width: calc(100vw - 40px);
    position: relative;
    z-index: 1;
}
.bottom-gradient {
    width: calc(100vw - 40px);
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.footer {
    display: grid;
}
.footer-grid-item-1 {
    grid-row: 2 / 3;
}
.moto {
    max-width: 303px;
    margin-top: 17px;
}
.cr {
    font-size: 18px;
    line-height: 18px;
    opacity: 0.5;
    margin: 14px 0 0;
}
.footer-grid-item-2 {
    grid-row: 1 / 2;
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
}
.footer-menu-container-1 {
    margin-right: 15px;
}
.footer-subtitle {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    margin-bottom: 12px;
}
.more-on {
    display: none;
}
.footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-menu li {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 12px;
}
@media only screen and (min-width: 351px) {
    .subtitle {
        font-size: 14px;
    }
}
@media only screen and (min-width: 400px) {
    h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .more-on {
        display: initial;
    }
}
@media only screen and (min-width: 410px) {
    .dash {
        display: initial;
    }
}
@media only screen and (min-width: 500px) {
    .paralax {
        height: 600px;
    }
    .paralax img {
        width: 672px;
        margin-left: -336px;
    }
    .MG {
        top: 162px;
    }
    .VG {
        top: 277px;
    }
    .VG-grad {
        top: 419px;
    }

    h1 {
        font-size: 37px;
        line-height: 37px;
    }

    .grid {
        margin: 0 40px 80px;
    }
    .grid-row {
        margin-bottom: 100px;
    }

    .img, .bottom-gradient {
        width: calc(100vw - 80px);
    }
    .num {
        font-size: 120px;
        top: -110px;
    }
    
    .footer-menu-container-1 {
        margin-right: 25px;
    }
}
@media only screen and (min-width: 600px) {
    .menu {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 283px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    .menu li {
        font-size: 18px;
        line-height: 18px;
        display: inline;
        margin: 0 10px;
    }
    .img {
        max-height: 600px;
        object-fit: cover;
    }
    .heading-dash, .dash {
        width: 72px;
    }
    .heading-subtitle, .subtitle {
        font-size: 18px;
    }
    h2 {
        font-size: 32px;
        line-height: 32px;
    }
}
@media only screen and (min-width: 672px) {
    .paralax {
        height: 800px;
    }
    .paralax img {
        width: 896px;
        margin-left: -448px;
    }
    .MG {
        top: 216px;
    }
    .VG {
        top: 370px;
    }
    .VG-grad {
        top: 559px;
    }

    .header-content {
        width: calc(100% - 60px);
        position: absolute;
        z-index: 2;
        margin: 0 30px;
        padding-top: 30px;
    }
    .heading {
        margin-top: 100px;
    }
    .title-container {
        max-width: calc(100% - 60px);
    }
    h1 {
        font-size: 45px;
        line-height: 45px;
    }
}
@media only screen and (min-width: 768px) {
    .grid {
        margin: 0 80px 80px;
    }
    
    .img, .bottom-gradient {
        width: calc(100vw - 160px);
    }
    h2 {
        font-size: 40px;
        line-height: 40px;
        margin: 10px 0 16px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
    .footer-grid-item-1 {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 40px 0 0;
    }
    .footer-grid-item-2 {
        order: 2;
        margin: 0;
    }
}
@media only screen and (min-width: 896px) {
    .header-content {
        width: calc(100% - 80px);
        padding-top: 40px;
        margin: 0 40px;
    }

    .paralax {
        width: 100%;
        height: 89.48vw;
    }
    .paralax img {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .MG {
        top: 24.16vw;
    }
    .VG {
        top: 41.25vw;
    }
    .VG-grad {
        top: 62.34vw;
    }

    .heading {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    .title-container {
        width: 527px;
        left: 50%;
        transform: translateX(-50%);
    }
    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .social-container {
        width: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social {
        writing-mode: vertical-rl;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-left: -4px;
    }
    .social-container img {
        margin-top: 24px;
    }
    .slider {
        display: initial;
        height: 200px;
    }

    .grid {
        margin: 0 80px 111px;
    }
    .grid-item-2 {
        margin-bottom: -70px;
    }
    h2 {
        font-size: 50px;
        line-height: 50px;
        margin: 27px 0;
    }
    .num {
        font-size: 200px;
        top: -150px;
    }
}

@media only screen and (min-width: 1000px) {
    .grid {
        margin: 0 90px 131px;
    }
    .grid-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;
    }
    .grid-item-1 {
        position: relative;
    }
    .grid-item-2 {
        width: 370px;
        height: auto;
        margin: 0;
    }
    .num {
        font-size: 160px;
        top: -100px;
        left: -30px;
        margin: 0;
    }
    .bottom-gradient {
        display: none;
    }
    /* Text-image combination */
    .row-ti .grid-item-1 {
        order: 1;
        margin-right: 50px;
    }
    .row-ti .grid-item-2{
        order: 2;
    }
    /* Image-text combination */
    .row-it .grid-item-1 {
        order: 2;
    }
    .row-it .grid-item-2 {
        order: 1;
        margin-right: 50px;
    }
    .content {
        max-width: 632px;
    }
    h2 {
        font-size: 54px;
        line-height: 54px;
        margin: 14px 0;
    }
    .more-container {
        margin-top: 27px;
    }
    .img {
        width: 100%;
        height: auto;
        max-height: none;
        object-fit: fill;
    }
}
@media only screen and (min-width: 1066px) {
    .header-content {
        width: calc(100% - 120px);
        padding-top: 50px;
        margin: 0 60px;
        z-index: 2;
        position: absolute;
    }
    .title-container {
        width: 579px;
    }
    h1 {
        font-size: 55px;
        line-height: 55px;
        margin: 24px 0;
    }
}
@media only screen and (min-width: 1227px) {
    .heading {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 150px;
    }
    .title-container {
        width: 632px;
    }
    .subtitle {
        font-size: 18px;
        line-height: 18px;
    }
    h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .row-ti .grid-item-1 {
        margin-right: 100px;
    }
    .row-it .grid-item-2 {
        margin-right: 100px;
    }
    h2 {
        font-size: 58px;
        line-height: 70px;
    }
    .content {
        margin-left: 50px;
    }
}
@media only screen and (min-width: 1348px) {
    .grid {
        margin: 0 100px 131px;
    }
    .grid-item-2 {
        width: 468px;
        height: auto;
    }
    .num {
        left: 0;
    }
    .content {
        margin-left: 100px;
    }
    h2 {
        font-size: 60px;
        line-height: 60px;
        margin: 20px 0;
    }
    .img {
        width: 100%;
        max-height: none;
    }
    .footer-grid-item-2 {
        width: 468px;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 1500px) {
    .header-content {
        width: calc(100% - 160px);
        padding-top: 64px;
        margin: 0 80px;
        z-index: 2;
        position: absolute;
    }
    .heading {
        margin-top: 22vh;
    }
    .title-container {
        width: 758px;
    }
    h1 {
        font-size: 72px;
        line-height: 72px;
    }
    
    .grid-item-2 {
        width: 566px;
    }
    
    .footer-grid-item-2 {
        width: 566px;
    }
}
@media only screen and (min-width: 1668px) {
    .title-container {
        width: 842px;
    }
    h1 {
        font-size: 80px;
        line-height: 80px;
        margin: 32px 0;
    }
    .grid {
        margin: 0 150px 131px;
    }
    .num {
        font-size: 200px;
        top: -150px;
        left: 0;
    }
    .content {
        margin-left: 150px;
    }
    h2 {
        font-size: 64px;
        line-height: 64px;
    }
}
@media only screen and (min-width: 1920px) {
    .grid {
        margin: 0 200px 131px;
    }
}
