@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
}

#banner {
    position: relative;
    width: 100%;
}
#img-clouds {
    position: absolute;
    z-index: -4;
    width: 100%;
}
#gradient-1 {
    position: absolute;
    z-index: -3;
    width: 100%;
}
#img-mountains {
    position: absolute;
    top: 21.92vw;
    z-index: -2;
    width: 100%;
}
#img-hill {
    position: absolute;
    top: 39.17vw;
    z-index: -1;
    width: 100%;
}
#gradient-2 {
    position: absolute;
    top: 61.927vw;
    z-index: 0;
    width: 100%;
}

#navbar {
    position: absolute;
    top: 64px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 160px);
    margin: 0 80px;
}
#logo {
    font-family: 'Bentham', serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
#menu ul {
    list-style: none;
}
#menu li {
    display: inline;
    font-size: 18px;
    margin: 0 20px;
}
#profile {
    display: flex;
    align-items: center;
}
#profile-img {
    margin-right: 8px;
}
#profile-text {
    font-size: 17px;
    margin: 4px 0 0;
}
#menu li, #profile {
    font-family: 'Khula', sans-serif;
}

#title-container {
    position: absolute;
    top: 14.53%;
    left: 50%;
    margin-left: -475px;
    z-index: 1;
    width: 950px;
}

.title {
    font-family: 'Bentham', serif;
    font-size: 88px;
    margin: 32px 0;
}
.subtitle-container {
    display: flex;
    align-items: center;
}
.subtitle {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 800;
    color: #FBD784;
    margin: 4px 0 0;
}
.dash {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    margin-right: 32px;
}